<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EMPLOYEE-APP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            routerLink="/admin"
            *ngIf="userSerice.roleMatch(['Admin'])"
          >
            Admin Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            routerLink="/user"
            *ngIf="userSerice.roleMatch(['User'])"
            >User Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            routerLink="/create-employee"
            *ngIf="userSerice.roleMatch(['Admin'])"
          >
            Add Employee
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            routerLink="/employee-list"
            *ngIf="userSerice.roleMatch(['Admin'])"
          >
            Employee-List
          </a>
        </li>
      </ul>
      <button
        *ngIf="!isLoggedIn()"
        type="button"
        class="btn btn-success"
        routerLink="/login"
      >
        Login
      </button>
      <button
        *ngIf="isLoggedIn()"
        type="button"
        class="btn btn-danger"
        (click)="logout()"
      >
        Logout
      </button>
      <button
        *ngIf="!isLoggedIn()"
        type="button"
        class="btn btn-warning"
        style="margin-left: 5px"
        routerLink="/signup"
      >
        SignUp
      </button>
    </div>
  </div>
</nav>
