<div class="container mt-5 col-md-6 offset-md-3">
  <h1 class="text-center" style="color: #0d6efd">Login Form</h1>
  <div class="card" style="padding: 20px">
    <div class="text-center">
      <h4 style="color: #157347; font-size: 1.2rem !important">
        Login to your Employee-App account
      </h4>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input
          type="text"
          ngModel
          name="userName"
          id="userName"
          placeholder="Enter your username"
          class="form-control mb-3"
        />
        <input
          type="password"
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="Enter your password"
          class="form-control mb-3"
        />
        <input
          type="submit"
          value="Login"
          value="Login"
          class="btn btn-outline-primary form-control rounded-0"
        />
      </form>
    </div>
  </div>
</div>
